.button{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 26px;
    -fx-fontsize: 22px;
    -fx-text-fill: #013895;
    -fx-border-color: #013895;
    -fx-border-radius: 26px;
    -fx-border-width: 1px
}
.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: #013895;
    -fx-background-radius: 26px;
    -fx-fontsize: 22px;
    -fx-text-fill: white;

}
