*{
    -fx-button-first-font-color: #FFFFFF;
    -fx-button-second-font-color: #013895;
}

.check-box .box {

    -fx-background-color: white;
    -fx-border-color:#013895;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #009ca8;
}

.check-box:selected{
    -fx-border-color: #009ca8;
}

.text-field {
    -fx-background-color: white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-radius: 4px;
    -fx-border-color: #013895;
}

.text-field:focused {
    -fx-background-color: white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-radius: 4px;
    -fx-border-color: #013895;
}

.text-field .context-menu .menu-item{
    -fx-text-base-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #013895;
    -fx-text-fill: white;
    -fx-border-color: #013895;
}


.text-field .context-menu .menu-item:hover,
.text-field .context-menu .menu-item:pressed {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-color: #013895;
}

.text-field .context-menu .menu-item:hover .label,
.text-field .context-menu .menu-item:pressed .label {
    -fx-text-fill: #013895;
}



.button{
    -fx-text-base-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #013895;
    -fx-background-radius: 15;
    -fx-fontsize: 22;
    -fx-text-fill: white;
    -fx-border-color: #013895;
    -fx-border-radius: 15;
    -fx-border-width: 1
}
.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fontsize: 22;
    -fx-text-fill: #013895;
    -fx-border-color: #013895;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fontsize: 22;
    -fx-text-fill: #013895;
    -fx-border-color: #013895;
    -fx-border-radius: 15;
    -fx-border-width: 3;

}

.button:focused{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fontsize: 22;
    -fx-text-fill: #013895;
    -fx-border-color: #013895;
    -fx-border-radius: 15;
    -fx-border-width: 3;

}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;

}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-border-color: #013895;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #013895;
    -fx-text-fill: white;
}

.combo-box-base
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-radius: 4px;
    -fx-border-color: #013895;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: white;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #013895;
    -fx-background-radius: 7px 7px 5px 5px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #013895;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    /*-fx-background-insets: 0px 11px 0px 0px;*/
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #013895;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #013895;
}

.table-row-cell:focused {
    -fx-background-color: #013895;
    -fx-background-radius: 15px;
    /*-fx-background-insets: 0px 11px 0px 0px;*/
}

.menu-button{
    -fx-font-weight: bold;
    -fx-background-color: #013895;
    -fx-background-radius: 15px;

    -fx-border-color: #013895;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}


.menu-button:hover,
.menu-button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fontsize: 22;
    -fx-text-fill: #013895;
    -fx-border-color: #013895;
    -fx-border-radius: 15;
    -fx-border-width: 1;

}

.context-menu {
    -fx-background-color: none;
    -fx-padding: 0px 0px 0px 10px;
}
.menu-item{
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-color: #013895;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-spacing: 20px;
}

.menu-item:hover,
.menu-item:pressed {
    -fx-background-color: #013895;
    -fx-background-radius: 15px;
    -fx-border-color: #013895;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-spacing: 20px;
}

.menu-button .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}

.menu-item .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}

.menu-button:hover .label,
.menu-button:pressed .label{
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-second-font-color;
}

.menu-item:hover .label,
.menu-item:pressed .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}
