.check-box .box {

    -fx-background-color: white;
    -fx-border-color:#013895;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #009ca8;
}

.check-box:selected{
    -fx-border-color: #009ca8;
}