.button{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
.button:hover {
    -fx-border-color: #013895;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.button:pressed{
    -fx-border-color: #013895;
    -fx-border-radius: 10;
    -fx-border-width: 4;
}
