.button {
    -fx-background-image: url(../../assets/Icons/Icons-02.png);
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat ;
    -fx-background-position: top ;
    -fx-background-size: 70% 70%;
    -fx-background-radius: 26;
    -fx-text-fill: #013895;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}
.button:hover{
    -fx-background-image: url(../../assets/Icons/iconsMeal_White-02.png);
    -fx-background-color: #013895;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat ;
    -fx-background-position: center ;
    -fx-background-size: 70% 70%;
    -fx-background-radius: 26;
    -fx-text-fill: white;
}