*{
    -fx-button-first-font-color: #FFFFFF;
    -fx-button-second-font-color: #5B5A5A;
}

/*
    .button: just a normal button
    .menu-button: the button that opens the menu
    .menu-item: the items inside the menu
    .context-menu: the container of the menu-items
*/

.menu-button,
.button{
    -fx-font-weight: bold;
    -fx-background-color: #013895;
    -fx-background-radius: 15px;
    -fx-background-insets: 5px;
    -fx-border-width: 0px;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}


.menu-button:hover,
.menu-button:pressed,
.button:hover,
.button:pressed{
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-background-insets: 5px;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 55px;
    -fx-border-width: 3px;
    -fx-border-insets: 5px;
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-second-font-color;
}

.context-menu {
    -fx-background-color: none;
    -fx-padding: 0px 0px 0px 10px;
}
.menu-item{
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-spacing: 20px;
}

.menu-item:hover,
.menu-item:pressed {
    -fx-background-color: #013895;
    -fx-background-radius: 15px;
    -fx-border-color: #013895;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-spacing: 20px;
}

.menu-button .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}

.menu-item .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}

.menu-button:hover .label,
.menu-button:pressed .label{
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-second-font-color;
}

.menu-item:hover .label,
.menu-item:pressed .label {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: -fx-button-first-font-color;
}
